{% extends 'base.html' %}
{% block title %}Mi Perfil | Pitutea{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="bg-white p-4 rounded-4 shadow-sm border-0 mb-4 mt-2">
            <h2 class="fw-bold mb-1">Mi Perfil</h2>
            <p class="text-muted mb-4 small">
                {% if user.perfil.rol == 'CUIDADOR' %}
                Mejora tu perfil para que te recomendemos los mejores pitutos.
                {% else %}
                Datos de contacto del oferente.
                {% endif %}
            </p>
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="mb-3">
                    <label class="form-label fw-semibold small text-dark">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}<div class="text-danger small mt-1">{{ field.errors.0 }}</div>{% endif %}
                </div>
                {% endfor %}
                <div class="d-flex gap-2 mt-2">
                    <button type="submit" class="btn btn-primary w-50 fw-bold py-3 rounded-3 mt-2 shadow-sm">
                        <i class="fa-solid fa-floppy-disk"></i> Guardar Cambios
                    </button>
                    <a class="btn btn-outline-primary w-50 fw-bold py-3 rounded-3 mt-2 shadow-sm" href="{% if user.is_authenticated and user.perfil.rol == 'OFERENTE' %}{% url 'panel_oferente' %}{% else %}{% url 'listar_ofertas' %}{% endif %}"><i class="fa-solid fa-house"></i> Regresar</a>
                </div><!-- close d-flex -->
            </form>
        </div>
</div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const rutInput = document.getElementById('id_rut');
    if (rutInput) {
        rutInput.addEventListener('input', function(e) {
            let value = e.target.value.replace(/[^0-9kK]/g, '').toUpperCase();
            if (value.length > 9) {
                value = value.slice(0, 9);
            }
            if (value.length > 1) {
                let cuerpo = value.slice(0, -1);
                let dv = value.slice(-1);
                
                let cuerpoFormateado = '';
                while (cuerpo.length > 3) {
                    cuerpoFormateado = '.' + cuerpo.slice(-3) + cuerpoFormateado;
                    cuerpo = cuerpo.slice(0, -3);
                }
                cuerpoFormateado = cuerpo + cuerpoFormateado;
                e.target.value = cuerpoFormateado + '-' + dv;
            } else {
                e.target.value = value;
            }
        });
    }
});
</script>
{% endblock %}
